
    <link rel="stylesheet" type="text/css" href="http://www.extjs.com/deploy/dev/examples/shared/examples.css" />

    <link rel="stylesheet" type="text/css" href="http://www.extjs.com/deploy/dev/examples/shared/icons/silk.css" />

<script type="text/javascript" src="/javascripts/App.js"></script> 
<script type="text/javascript" src="/javascripts/RowEditor.js"></script> 
<script type="text/javascript" src="/javascripts/restful.js"></script> 
  
<p>Take note of the requests being generated in Firebug as you interact with the Grid.</p> 
 
</pre></code> 
<div class="container" style="width:500px"> 
    <div id="user-grid"></div> 
</div> 
 